@inherits LayoutComponentBase

<PageTitle>OnlineStore</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingValue Value="@CartItems" Name="count">
                <button class="btn btn-outline-secondary" OnCountChange="@IncrementItems">
                    <TelerikSvgIcon Icon="@SvgIcon.Cart"></TelerikSvgIcon> @CartItems items
                </button>
            </CascadingValue>
            
        </div>

        <TelerikRootComponent>
            @Body
        </TelerikRootComponent>
    </main>
</div>

@code{
    public int CartItems { get; set; }

    private void IncrementItems()
    {
        CartItems++;
        StateHasChanged();
    }
}
