@using OnlineStore.Data.Services;
@inject ICartService cartService
@inherits LayoutComponentBase

<PageTitle>OnlineStore</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-outline-secondary">
                <TelerikSvgIcon Icon="@SvgIcon.Cart"></TelerikSvgIcon> @cartService.Count items
            </button>
        </div>

        <TelerikRootComponent>
            @Body
        </TelerikRootComponent>
    </main>
</div>

